<div class="container">
  <h1 class="text-primary text-center">¿Cómo llego?</h1>
  <br>
  <label for="localOrigen">Local origen</label>
  <select [(ngModel)]="desde">
    <option value="{{direction.origin}}">Mi ubicacion</option>
    <option value="-34.720657,-58.254600">Quilmes</option>
    <option value="-34.693013,-58.331757">Avellaneda</option>
    <option value="-34.759160, -58.205168">Berazategui</option>
  </select>
  <br>
  <label for="localDestino">Local destino</label>
  <select [(ngModel)]="hasta">
      <option value="-34.720657,-58.254600">Quilmes</option>
      <option value="-34.693013,-58.331757">Avellaneda</option>
      <option value="-34.759160, -58.205168">Berazategui</option>
  </select>
  <br>
  <label for="localDestino">Modo de viaje</label>
  <select [(ngModel)]="viaje">
    <option value="WALKING">Caminando (Por defecto)</option>
    <option value="DRIVING">En auto</option>
    <option value="BICYCLING">En bicileta</option>
    <option value="TRANSIT">Transporte Publico</option>    
  </select>
  <br>
  <button (click)="mapear()">Mapear</button>
  <br>

  <div *ngIf="mensajeError">
    <br>
    <br>
    <br>
    <div class="alert alert-danger">
      {{mensajeError}}
    </div>
  </div>

  <ngui-map zoom="13" center="">
    <directions-renderer [suppressMarkers]="true" [draggable]="true" panel="#my-panel" (directions_changed)="directionsChanged()" [directions-request]="direction">
    </directions-renderer>
  </ngui-map>

</div>